<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
 <header>
  <ul>
   <li><%=link_to "トップページ", root_path %></li>
   <li><%=link_to "ツイート", new_exam_path %></li>
   <li><a href="#">お問い合わせ</a></li>
  </ul>
 </header>

<%= yield %>

 <footer>
  <p>運営会社twitter株式会社</p>
  <p>© 2015-2017 Copyright twitter Corp.</p>
 </footer>

</body>
</html>
